.root {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #e81cff 35%, #40c9ff 135%);
    transform: translate3d(0px, 0px, 0) scale(1.02);
    filter: blur(20px);
    opacity: var(0.6);
    transition: opacity 0.3s;
    border-radius: inherit;
  }
  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
}
